<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Business Insights</title>
  </head>
  <body ng-app="businessInsights" ng-controller="businessInsightsCtrl">
		
        <div class="container-fluid">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" aria-current="page">Business Success Predictor</li>
				</ol>
			</nav>
		</div>
		<div class="container-fluid">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Specify Business Attributes</h5>
					<form class="was-validated">
						<div class="form-row">
							<div class="col-md-2 mb-1">
							<input type="text" class="form-control" id="distanceac" placeholder="Enter a Location">
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-2 mb-1" ng-repeat="booleanAttribute in booleanAttributes">
								<div class="custom-control custom-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" id="[[booleanAttribute.id]]" ng-model="booleanAttribute.selected" ng-true-value="1" ng-false-value="0"required>
									<label class="custom-control-label" for="[[booleanAttribute.id]]">[[booleanAttribute.value]]</label>
								</div>
							</div>
						</div>
						<div class="form-row form-inline">
							<div class="form-group col-md-2" ng-repeat="multiValuedAttribute in multiValuedAttributes">
								<label class="my-1 mr-2" for="[[multiValuedAttribute.id]]">[[multiValuedAttribute.value]]</label>
								<select class="custom-select my-1 mr-sm-2"  id="[[multiValuedAttribute.id]]" class="form-control" ng-options="item.id as item.value for item in multiValuedAttribute.options" ng-model="multiValuedAttribute.selected">
								</select>
							</div>
							<div class="form-group col-md-2">
								
								<input class="form-control my-1 mr-sm-2" type="text" list="cars" id="category" placeholder="Category" data-error-msg="Must Specify Restaurant Category" ng-model="selectedCategory" required/>
									<datalist id="cars">
										<option ng-repeat="category in categories">[[category]]</option>
									</datalist>
								</input>
							</div>
						</div>
					</form>

					<a class="btn btn-primary" ng-click="postUserAttributes()">Submit</a>
					
				</div>
			</div>
		</div>
		<div class="container-fluid" style="display: none" id="successdiv">
			<div class="card-body">
				<div class="row align-items-center">
					<div class="col">

						<!-- Title -->
						<h6 class="card-title text-uppercase text-muted mb-2">
							Chance of Success (Before)
						</h6>

						<!-- Heading -->
						<span class="h2 mb-0" id="successrating">
						  
						</span>

						<!-- Badge -->
						<span class="badge badge-soft-success mt--1" id="percentimprovement">
						  
						</span>

					</div>
					<div class="col">
						<!-- Title -->
						<h6 class="card-title text-uppercase text-muted mb-2">
							Chance of Success (After)
						</h6>

						<!-- Heading -->
						<span class="h2 mb-0" id="successratingafter">
						  
						</span>
						<!-- Badge -->
						<span class="badge badge-soft-success mt--1" id="percentimprovement">
						  
						</span>
					</div>
				</div> <!-- / .row -->
			</div>
        </div>
		<div class="container-fluid" style="display: none" id="error">
			<div class="alert alert-danger" role="alert" id="errordetails">
				
			</div>
		</div>
		<div class="container-fluid" id="insightstable" style="display: none">
		<h2>Business Insights</h2>
		<table class="table" id="suggestiontable">
			<thead>
				<tr>
					<th>Attributes</th>
					<th>Current</th>
					<th>Suggested</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
		
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript" src="/js/application.js"></script>
	 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPyJ1OvFgnfX_RsLq1mx0V8nooRyFONTQ&libraries=places&callback=initAutocomplete" async defer></script>
	
  </body>
</html>